@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css");
/* Reset -------------------------------------------------- */
* { box-sizing:content-box; }
html { margin:0;padding:0;border:0; }
body {margin:0; padding:0; border:0; background-color:#e9eced;}
.wrapper { }
.container { margin:0 auto; width:1142px;  }
.clear { clear:both; }
a, label, input, p {
	font-family: "Montserrat", sans-serif;
	text-decoration:none;
	color:black;
	font-size:13px;
}

a:hover {
	opacity:80%;
}

h1,h2,h3,h4,h5 {
	font-family:"Montserrat", sans-serif;
	font-weight:bold;
}

/* login ---------------------------------------- */
.main-login { display:inline-block; height:100%; width:100%; background-image: url("../images/background.png"); background-repeat:no-repeat;background-attachment: fixed;
    background-position: center;  padding:205px 0 208px 0; position:fixed;}
.main-login .login-outer { width:450px; background-color:#f0f3f4; margin:0 auto; padding:0 0 55px 0; border-radius:8px; }
.main-login .login-logo { display:inline-block; width:100%; background-color:#366CAC; text-align:center; padding:10px 0 10px 0; border-top-left-radius:8px; border-top-right-radius:8px; }
.main-login .login-outer form { padding:45px 55px 0 55px; }
.main-login .login-outer form input[type="text"],.main-login .login-outer form input[type="password"] { display:inline-block; width:100%; padding:18px; box-sizing:border-box; font-size:16px; color:#666; line-height:24px; margin:0 0 24px 0; border-radius:5px; font-family: 'Montserrat', sans-serif; }
.main-login .login-outer form input[type="submit"] { display:inline-block; width:95%; background-color:#366CAC; line-height:60px; border-radius:8px; text-align:center; color:#fff; font-size:20px;margin-bottom:25px; transition:all 300ms 0s; font-family:'Montserrat', sans-serif; }
.main-login .login-outer form input[type="submit"]:hover { opacity:.7; }
.main-login .login-outer .loginform-row {}
.main-login .login-outer .formrow-left { float:left; width:135px; }
.main-login .login-outer .formrow-left input[type="checkbox"] { float:left;}
.main-login .login-outer .formrow-left label { float:left; color:#666; font-size:12px; line-height:24px; padding-left:10px;}
.main-login .login-outer .formrow-right { float:right; }
.main-login .login-outer .formrow-right a { float:left; width:100%; text-decoration:none; color:#366CAC; font-size:14px; line-height:24px; }

@media screen and (max-width:480px) {
.main-login { padding:185px 0 200px 0; }
.main-login .login-outer { width:auto; margin:0 15px; padding:0; }
.main-login .login-logo img { width:80%; }
.main-login .login-outer form { padding:20px 30px; }
.main-login .login-outer .formrow-left { width:100%; }
.main-login .login-outer .formrow-left label { float:left; padding:0 0 0 15px; }
.main-login .login-outer .formrow-right { float:left; width:100%; }
.main-login .login-outer form input[type="text"] { padding:10px 18px; }
 .main-login .login-outer form input[type="submit"] { line-height:44px; }
}

@media screen and  (max-width:400px){
.dg-container .mid-line { left:120%; width:285px; }
.dg-container nav { margin-left:353px; width:357px; }
}

#loginlogo {
	margin:0 auto;
	width:80%;
}
/* Icons */
.icon img{
	height:20px;
	width:20px;
	padding-right:15px;
}



/* navbar */
#navbar {
	height:100px;
	width:100%;
	position: fixed;
	background-color:white;
	display:inline-block;
	z-index:2;
}

#crst_logo {
	height:100px;
	width:auto;
	float:left;
}

#navbar ul {
	list-style:none;
	padding:45px 0 33px 0;
	margin:0 auto;
	box-shadow:0px 1px 3px 0px rgba(50, 50, 50, 0.3);
	background-color:white;
}

#navbar li {
	display:inline;
	font-family:"Montserrat", sans-serif;
	font-size:16px;
	font-weight:bold;
	padding:0 15px 0 20px;
}

#navbar li a {
	text-decoration:none;
}


#profile {
	float: right;
	display:inline;
	font-family:"Montserrat", sans-serif;
	font-size:16px;
	font-weight:bold;
	margin-right:80px;
	border-left: 2px solid #e9eced;
}

li.dropdown {
    display: inline-block;
}

.dropbtn {
	cursor:pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 160px;
    box-shadow: 5px 10px 20px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: #356CAC;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
	font-size:14px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* sidebar */
.sidebar-toggle img {
  position: absolute;
  top:450px;
  right: 3px;
  width: 20px;
  height: 20px;
  border-right:2px solid transparent;
}

.sidebar-toggle img:hover {
	border-right:2px solid #366CAC;
}



.sidebar {
background-color:#fff;
  width:350px;
  float:left;
  height:100%;
  position: fixed;
  top: 100px;
  
}

.sidebar-list {
  list-style: none;
  width: auto;
  margin: 0;
  padding:0;
}

.sidebar-list li {
	font-family:"Montserrat", sans-serif;
	font-size:13px;
	font-weight:bold;
	padding:20px 0 20px 60px;
	border-bottom:1px solid #e9eced;
	text-decoration:none;
	text-transform:uppercase;
	border-left: 6px solid transparent;
	transition:all 500ms 0s;
}

.sidebar-list li:hover {
	border-left: 6px solid #356CAC;
	transition:all 500ms 0s;
}

.sidebar li a {
	padding:10px 0 10px 0;
}

.sidebar-list li a:hover {
	text-decoration:none;
	text-transform:uppercase;
	color:black;
}


.crst_circle {
	padding:50px 0 50px 0;
	z-index:3;
	
}

#circle-logo {
	height:150px;
	width:150px;
	display:block;
	margin-left:auto;
	margin-right:auto;
}
/* Dashboard Popup */
#popup
{
	width:560px;
	height:360px;
	background:#00CC33;
	color:#fff;
	padding:20px;
	position:absolute;
	top:0%;
	left:50%;
	margin-top:-500px;
	margin-left:-250px;
	z-index: 9998;
}
#popup h1
{
	margin:0px;
	padding:0px;
}

.float{
    width: 100px;
    padding: 10px;
    border: 5px solid gray;
    margin: 0;
	background-color: white;    
}

/* Main Content */
.content {
  width:auto;
  top:100px;
  height:auto;
  display:fixed;
  position: absolute;
 padding:15px 0 0 25px;
	z-index:1;
}

/* Client's Page */

.add_button {
	background-color:#356CAC;
	font-size: 16px;
	font-weight:bold;
	padding:10px;
	text-align:center;
	float:right;
	color:white;
}

.add_button a {
	color:white;
	text-decoration:none;
}

.add_button a:hover{
	color:white;
	text-decoration:none;
}

/* Project Management */
.pmsquare {
	width:650px;
	height:250px;
	display:inline-block;
	border:2px solid #356CAC;
}

.left {
	width:30%;
	display:inline-block;
}

.right {
	width:30%;
display:inline-block;
}

.center {
	width:30%;
display:inline-block;
}

.pmsquare h1 {
	font-size:20px;
	margin:0;
	padding:0;
}

.pmsquare p {
	font-size:18px;
	margin:0;
	padding:0;
}
