.scroll {
   background-color: rgba(0,0,0,0.2);
   margin-top: 25px;
}

.scroll-up, .scroll-down {
   background-color: rgba(0,0,0,0.2);
}

.scroll-handle {
//   background-color: rgba(0,0,0,0.3);
    border: 3px solid #666666;
    border-radius: 12.5px;
    height: 25px;
}

.scroll-handle-ghost.active {
    border: 1px solid red;
}

.scroll-range {
    /* set position relative so we can set the absolute position of the scroll handle ghost */
    position: relative;
}

.noselect * {
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;

   /*
     Introduced in IE 10.
     See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
   */
   -ms-user-select: none;
   user-select: none;
}

.scroll-wrap {
    display: flex;
}
