/* global rules */

* {
    padding: 0;
    margin: 0;
}

html {
    min-height: 100%;
//    background-image: url('/media/grid.png');
}

ul {
    list-style: none;
}

input {
    box-shadow: inset 2px 2px 2px 0px rgba(158,158,158,0.5);
}

input, select {
    margin: 5px;
    height: 25px;
    border: none;
    padding: 3px;
    font-family: 'Lato';
    font-weigth: 400;
    font-size: 12pt;
    border-radius: 1px;
    width: 220px;
}

input[type=checkbox] {
    box-shadow: none;
    width: 20px !important;
    margin: 0 0 0 10px;
    position: relative;
    top: 7px;
}

/* reusable classes */

.navigation {
    display: inline-block;
}

/* data view */
.data-view {
    background-color: rgba(255,255,255,0.7);
}

.data-header div {
    padding: 3px;
}


.data-view input[type=checkbox] {
    position: static;
}

/* basic layout */

body {

    min-height: 100vh;
//    height: 100%;

//    background-color: #f0f0f0;

    font-family: 'Lato';
    font-weight: 300;
    color: rgba(80,80,80,0.9);

    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: nowrap;
}

#sidebar {

//    height: 100vh;
    min-height: 100%;

    flex: 0 0 auto;
    width: 160px;

    text-align: center;
    padding: 30px 0;

    font-family: 'Lato';
    font-weight: 300;
    color: rgb(90,90,90);

//    background-color: #fff;
}

#main {

    background-color: rgba(0,0,0,0.03);

    min-height: 100vh;

    flex: 1 1 auto;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: nowrap;
    flex-direction: column;
}

#masthead {

    height: 20px;
    flex: 0 0 auto;

    text-align: right;
    font-size: 10pt;
    font-family: 'Lato';
    font-weight: 300;

    color: rgb(90,90,90);

//    padding: 10px;
//    padding-top: 5px;
    padding-right: 20px;
}

#current-user {
    position: relative;
    top: 5px;
}

#content {
    flex: 1 1 auto;
    padding: 0 20px 0 20px;
}

#footer {

    height: 100px;
    flex: 0 0 auto;

    background-color: #f5f5f5;
    text-align: center;

    font-family: 'Lato';
    color: rgb(90,90,90);

    padding: 10px;
}

/* sidebar navigation */

.icon {
    margin-bottom: 20px;
}

.icon img {
    display: block;
    margin-bottom: 5px;
}

.logo img {
    margin-bottom: 10px;
}

.module {
    color: #b2b2b2;
    text-transform: uppercase;
    font-size: 9pt;
    letter-spacing: 0.1em;
}

.nav-icon {
    display: inline-block;
    margin-bottom: 30px;
}

.nav-icon a {
    text-decoration: none;
    color: rgb(90,90,90);
}

.nav-icon img {
    display: inline-block;
}

#masthead a {
    text-transform: uppercase;

    text-decoration: none;

    font-weight: bold;
    font-size: 6pt;
    letter-spacing: 0.2em;

    color: rgb(90,90,90);
    margin-left: 30px;

    border-bottom: 1px solid rgb(90,90,90);
}

#header {

    flex: none;
    height: 40px;

    font-family: 'Lato';
    color: rgb(90,90,90);

    display: flex;

    margin-bottom: 20px;

    margin-top: 10px;

}

#header h2 {
    margin-left: 0;
    padding-left: 0;
    padding: 0;
    margin: 0;
    font-size: 50px;
    position: relative;
    top: -15px;
}

.data-form label {
    width: 200px;
    text-align: right;
    display: inline-block;
}

.data-form label.wide {
    width: 10em;
}

.data-form label.left {
    text-align: left;
}

.data-form input {
    width: 250px;
}

h2 {
    font-weight: 300;
    margin: 0 0 0 10px;
    padding: 10px;
    display: inline-block;
}

#live h2 {
    margin-left: 0;
    padding-left: 0;
}

#live.wide {
//    width: 1050px;
    margin-top: 20px;
    margin-left: 20px;
}

.table-report {
    display: inline-block;
}

.pager {
    display: inline-block;
}

.table-controls {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}


#live {
    flex: none;
    width: 600px;
    min-height: 500px;
    margin-left: 20px;
}

.hide {
    display: none;
}

.tooltip{
    display: inline;
    position: relative;
    white-space:pre-wrap;
}

.tooltip:hover:after{
    background: #333;
    background: rgba(0,0,0,.8);
    border-radius: 5px;
    bottom: 26px;
    color: #fff;
    content: attr(title);
    left: 80%;
    padding: 5px 15px;
    position: absolute;
    z-index: 98;
    width: 310px;
}

.tooltip:hover:before{
    border: solid;
    border-color: #333 transparent;
    border-width: 6px 6px 0 6px;
    bottom: 20px;
    content: "";
    left: 90%;
    position: absolute;
    z-index: 99;
}

#calendar {
    margin-right: 20px;
}

#sidecar {
    width: 300px;
    flex: none;
    
}

#sidecar .widget {
    margin-left: 0;
}

#sidecar .widget:first-child {
    height: 260px;
}

/* .push {
    height: 100px;
} */

.col2 {
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
    margin: 0;
    padding: 0;
}

fieldset {
    background-color: rgba(250,250,250,0.5);
    padding: 0 20px;
    margin: 10px;
}

.widget, .dialog {
    box-shadow: 3px 3px 0 0 rgba(120,120,120,0.5);
    background-color: rgba(255,255,255,0.9);
    padding: 0 20px;
}

.filter-widget {
    box-shadow: 3px 3px 0 0 rgba(120,120,120,0.5);
}

.dialog {
    margin: 10px;
}

.widget {
    height: 200px;
    margin: 20px 0;
}

.dialog {
    width: 100px;
    height: 100px;
    background-color: rgba(250,250,250,1);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.widget, fieldset {
    /* set the position type so absolute position of child corner divs works right */
    position: relative;
}

fieldset {
    border: none;
    padding-top: 10px;
    padding-bottom: 20px;
    margin-right: 20px;
}

/* login form*/

#login-form label {
    display: inline-block;
    text-align: right;
    width: 10em;
}

#login-form input {
    width: 210px;
}

#login-form button {
    width: 215px;
}

#login-form .button-wrap {
    width: 395px;
    text-align: right;
    margin-top: 10px;
}


.widget h3, legend {
    font-family: 'Montserrat';
    text-align: center;
    text-transform: uppercase;
    font-size: 9pt;
    padding: 10px;
    font-weight: normal;
    letter-spacing: 0.1em;

    color: rgb(90,90,90);
}

legend {
    position: relative;
    top: 14px;
}

/* insert divs to hide the corners of the drop shadow for 3d effect */
.widget-corner-lower {

    position: absolute;
    bottom: -3px;
    left: 0;

    width: 0;
    height: 0;
    border-top: 3px solid rgba(120,120,120,0.5);
    border-left: 3px solid transparent;
    border-right: none;
    border-bottom: none;
}

.widget-corner-upper {
    position: absolute;
    top: 0;
    right: -3px;

    width: 0;
    height: 0;
    border-bottom: 3px solid rgba(120,120,120,0.5);
    border-right: 3px solid transparent;
    border-left: none;
    border-top: none;
}

.widget-corner-upper-messages {
/*    top: 35px;
    left: -190px; */
    width: 260px;
}

fieldset .widget-corner-upper {
    top: 18px;
}

.widget canvas {
    display: inline-block;
    vertical-align: top;
}

.widget table {
    display: inline-block;
    vertical-align: top;
    margin-left: 30px;
}

.stats {
    display: flex;
    margin: 0 10px 10px 10px;
    justify-content: center;
}

.stat {
    width: 180px;
    height: 140px;
    margin-right: 10px;
}

.stats:last-child {
    margin-right: 0;
}

.stat-label, .message {
    margin-top: 5px;
    color: #666666;
    font-family: 'Lato';
    font-weight: 300;
}

.stat-label {
    display: block;
    text-align: center;
}

.stat-val {
    color: #666666;
    font-family: 'Montserrat';
    font-size: 30pt;
    font-weight: bold;
    display: block;
    text-align: center;
    margin-top: 15px;
}

.stat-goal {
    position: relative;
    top: -10px;
}

.fundraising-summary .stat-val {
    font-size: 20pt;
}

.bar-graph {
    background-color: #009865;
    height: 40px;
    width: 100%;
    margin-top: 20px;
    position: relative;
    cursor: pointer;
    border-radius: 20px;
}
.bar-graph-selected {
    background-color: #777;
    height: 40px;
    width: 100%;
    margin-top: 25px;
    position: relative;
    cursor: pointer;
}

.bar-value {
    background-color: #00cc65;
    height: 40px;
    border-radius: 20px;
}

.bar-value-label {
    font-family: 'Montserrat';
    color: #ffffff;
    position: absolute;
    top: 3px; 
    left: 0;
    width: 100%;
    text-align: center;
}

.bar-label {
    font-family: 'Lato';
    font-weight: 300;
    color: #fff;
    position: absolute;
    bottom: 3px; 
    left: 0;
    text-align: center;
    width: 100%;
}

.bar-vertical {
    background-color: #009865;
    width: 40px;
    height: 130px;
    position: relative;
    display: inline-block;
}

.bar-vertical .bar-value {
    background-color: #00cc65;
    width: 40px;
    position: absolute;
    bottom: 0;
}

.bar-vertical-value {
    font-family: 'Montserrat';
    font-size: 21pt;
    font-weight: bold;
}

.bar-vertical-label {
    margin-right: 10px;
}

.bar-vertical-legend {
    display: inline-block;
    width: 125px;
}

.bar-vertical-goal {
    font-size: 9pt;
}

button, a.action {
    background-color: #7ccda2;
    border: none;
    height: 40px;
    border-radius: 20px;
    padding: 13px 13px;
    font-family: 'Montserrat';
    font-weight: 400;
    text-transform: uppercase;
    font-size: 8pt;
    color: rgb(255,255,255);
    text-decoration: none;
    box-shadow: 0 2px 2px 0 rgba(90,90,90,0.5);
    cursor: pointer;
}

.action {
    position: relative;
    top: 7px;
    margin-left: 15px;
}

button.small, button.medium {
    height: 30px;
    border-radius: 15px;
    padding: 5px;
    margin-left: 0.5em;
}

button.medium {
    padding: 8px;
    position: relative;
    top: 6px;
}

.startup {
    margin-top: 40px;
    text-align: center;
    font-size: 14pt;
}

.startup a, .widget a, .list a, a, .link {
    font-family: 'Montserrat';
    color: #0066cb;
    text-decoration: none;
    cursor: pointer;
}

.widget a {
    display: inline-block;
    margin-top: 20px;
}

.widget td a {
    margin-top: 0;
    margin-left: 10px;
}

.list {
    display: inline-block;
    margin: 10px;
}

.table-main td {
    cursor: pointer;
}

th {
    text-align: left;
    border-bottom: 1px solid #666666;
}


#contact-stats, #fund-stats, .stat-wrap {
    text-align: center;
}

#goals-widget .bar-graph {
    margin-top: 10px;
}

#sidecar .widget.long {
    height: 535px;
    width: 280px;
}

.goal-label {
    font-size: 11pt;
}

a.goal-event {
   font-size: 6.5pt;
}

/* manage */
.instance {
    width: 180px;
    height: 180px;
    display: inline-block;
    vertical-align: top;
}

.instance a {
    margin: 20px 0 0 0;
}

.instance h4 {
    margin: 10px 0 5px 0;
}

.application-summary a {
    margin-top: 15px;
    display: block;
}

/* .instance-detail label, #data-fields span { */
label {
    font-family: 'Montserrat';
    margin-right: 10px;
}

.instance-detail h4 {
    margin-bottom: 10px;
}

.actions {
    text-align: right;
    
}

.actions button {
    width: 17em;
}

.validate {
    color: red
}

.center {
    text-align: center;
}

.left {
    text-align: left;
}

#instance-actions button, .manage-actions button {
    display: inline-block;
    margin: 0 5px;
}

.file-upload {
    height: 300px;
    background-color: #fff;
    text-align: center;
    font-family: 'Montserrat';
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}

.drag {
    background-color: #009865;
}

#spin {
    flex: none;
}

#fields {
    max-width: 750px;
}



/* manage data import page fields */
#file-fields ul, #presets ul, .saved-search-container {
    padding: 0;
    max-height: 10em;
}

#file-fields ul {
    overflow-y: scroll;
}

#file-fields li, #map td, #presets li, .saved-search-container li {
    padding: 0 5px;
    line-height: 2em;
    font-family: 'Montserrat';
    font-size: 10pt;
    background-color: #fff;
    cursor: pointer;
    margin: 1px;
    list-style: none;
}

#file-fields li, #presets li, .saved-search-container li {
    display: inline-block;
}

.selected {
    background-color: #7ccda2 !important; 
}

.mapped {
    background-color: #acfdd2 !important; 
}

#map {
    max-height: 15em;
    overflow-y: scroll;
    border: 1px solid #666666;
    margin-top: 0.5em;
}

#map table {
    width: 100%;
}

#map td {
    width: 50%;
}

#fields span.mapped, #data-fields span.mapped {
    background-color: #93ccaf;
}

#field-map td {
    font-family: 'Montserrat';
    padding: 5px;
}

#field-map td:first-child {
    text-align: right;
}

input[type='radio'] {
    box-shadow: none;
    position: relative;
    top: 5px;
    width: 20px;
    height: 20px;
}

.data-set {
    margin: 5px;
    padding: 0 5px 5px 5px;
    background-color: #ccc;
}

.input-group input.form-control:last-child {
    margin: 0;
}

#map td:first-child {
    padding-left: 3em;
}

.data-object, .header {
    background-color: #666666 !important;
    color: #ffffff;
    padding-left: 0.7em;
}

#map label {
    margin-left: 2em;
}

#file-input div {
    height: 200px;
    border: 1px dashed #666666;
    text-align: center;
}

#page-control, .table-main th {
    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
}

#page-control span {
    font-weight: 400;
    padding: 0.15em;
}

#page-control span.current {
    color: #009865;
}

.table-main {
    table-layout: fixed;
}

.table-main input {
    margin: 0;
}

.table-main .select {
    width: 3em;
}

.table-main .phone {
    width: 7em;
}

.table-main td {
    text-overflow: ellipsis;
    white-space: nowrap;
//    width: 100%;
    overflow: hidden;
    font-weight: 400;
}

.contrib-actions {
    width: 4em;
}

.contrib-date {
    width: 5.5em;
}

.contrib-amount {
    width: 5em;
}

.contrib-type {
    width: 4em;
}

th img {
    margin-right: 0.1em;
}

.autocomplete {
    background-color: #fff;
    list-style: none;
    padding: 1em;
    border: 1px solid #666666;
    margin: 0;
}

button.input-control {
    border-radius: 0;
    height: 31px;
    position: relative;
    left: -5px;
    top: -2px;
    width: 30px;
    padding: 5px;
    display: inline-block;
    box-shadow: none;
}

.search, .items-per-page {
    display: inline-block;
}

.table-top-controls {
    display: flex;
    justify-content: space-between;
}

#contributions .table-top-controls {
    display: block;
    text-align: right;
}

.stats, #donor-search-advanced {
    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
}

input[type='date'] {
    width: 10em;
}

input[type='number'] {
    width: 11em;
}

/* application form */

#application label, .contact-form label {
    width: 10em;
    text-align: right;
    display: inline-block;
}

.application-collection-wrap, #campaign-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.application-collection-wrap li {
    width: 150px;
    height: 150px;
    background-color: rgba(250,250,250,0.5);
    vertical-align: top;
    margin: 5px;
    padding: 10px;
    cursor: pointer;
}

/* contact list page */

#contact-table td, #contact-table th {
    cursor: pointer;
}

.notes-wrap label, .notes-wrap textarea {
    display: inline-block;
    vertical-align: top;
}

#saved-searches {
    width: 10em;
}

.contact-collection {
    height: 450px;
    position: relative;
}

.table-bottom-controls {
    display: flex;
    justify-content: space-between;
}

/* contact filter widgets */

.head {
    display: flex;
    justify-content: space-between;
    background: #e2e2e2;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: 400;
    height: 40px;
}

.link {
    color: blue;
    cursor: pointer;
    padding: 0.1em;
}

.container {
    background-color: #ddd;
    display: flex;
    justify-content: space-between;
    min-height: 10em;
}

.filter {
    flex: 1 1 auto;
    border: 0.1em solid #777;
}

.container .head {
    background-color: #aaa;
}

.filter .foot {
    height: 2.5em;
    background-color: #aaa;
    padding: 0 0.1em;
    display: flex;
//    justify-content: space-between;
}

.link, .noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.filter-widget ul {
    list-style: none;
    padding: 0.1em;
    margin: 0;
    height: 10em;
    overflow-y: scroll;
}

.filter-widget li {
    display: flex;
//    justify-content: space-between;
}

.filter-widget {
    margin-bottom: 10px;
}

.selected {
    background-color: #777;
}

/* contact form */

.delete {
    float: left;
}

/* contact direct mail campaign history */

.campaign-history {
    list-style-image: url('/media/mail-small.png');
}

.campaign-date, .campaign-name {
    margin-left: 1em;
    padding: 0;
    position: relative;
    top: -0.5em;
}

#campaign-list .widget {
    width: 30em;
}

/* forms */

.data-form {
    width: 750px;
}

.submit {
    float: right;
}

/* advanced search */

.advanced-search-form .submit {
    float: none;
}

.saved-searches .delete {
    float: none;
}

img.delete {
    width: 15px;
    height: 15px;
    position: relative; 
    top: 4px;
    left: 3px;
}

.add-rule, .add-custom-rule {
    position: relative;
    top: 8px;
}

.filter .save {
    position: relative;
    top: -2px;
}

.single-option, a.remove {
    position: relative;
    top: 9px;
}

/* saved search */
.contact-saved-search .title {
    position: relative;
    top: -10px;
}


/* fundraising page */

.contribution-collection-view .date {
    width: 6em;
}

.contribution-collection-view .amount {
    width: 6em;
}

.contribution-collection-view .type {
    width: 6em;
}

span.label {
    font-weight: bold;
    line-height: 2em;
}

.fundraising-summary {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.fundraising-summary li {
    background-color: rgba(250,250,250,0.5);
    margin: 5px;
    width: 150px;
    height: 130px;
}

/* fundraising reports page */

.fund-report-select {
    list-style: none;
    padding: 0;
}

.fund-report-select li {
    background-color: #fff;
    display: block;
    padding: 0.3em;
    width: 400px;
    margin: 3px;
    font-weight: 400;
    cursor: pointer;
}

/* dashboard page */

#direct-mail-summary {
    height: 225px;
}

.dashboard {
    flex: 1 1 auto;
    padding: 0 20px 0 0;
}

.dashboard .widget {
    position: relative;
    left: -15px;
    width: 600px;
}

/* direct mail manage */

#campaign-list li {
    width: 200px;
    height: 200px;
    background-color: rgba(250,250,250,0.5);
    vertical-align: top;
    margin: 5px;
    padding: 10px;
    cursor: pointer;
}

/* contact list setup page */
.column-form, .field-list {
    display: inline-block; 
    width: 20em;
    vertical-align: top;
    margin-top: 2em;
}

.column-form input {
    width: 5em;
}

.field-list li, .field-list .header {
    width: 15em;
    margin: 0.1em;
    padding: 0.1em;    
    font-weight: 400;
    display: block;
}

.field-list li {
    background-color: #fff;
}

.contact-column-headers th {
    padding: 0.3em;
}

.standard-fields, .custom-fields {
    height: 10em;
    overflow-y: scroll;
    width: 16.3em;
}

.buttons {
    margin-top: 1em;
}

/* email */

.template-select {
    width: 1000px;
}

.template-select ul {
    list-style: none;
    display: flex;
    overflow-x: scroll;
    background-color: rgba(250,250,250,0.5);
}

.template-select li {
    padding: 10px;
    flex: none;
}

.email-campaign-summary .widget {
    width: 600px;
}

.email-campaign-summary .widget .stat-wrap {
    position: relative;
    top: -20px;
    display: flex;
    justify-content: space-around;
}

/* admin module */
.navigation li {
    display: inline-block;
    padding: 10px;
}

/* goals */
.goal-list th, .goal-list td {
    padding-right: 20px;
}

.tabs {
    width:100%;
    display:inline-block;
}
 
    /*----- Tab Links -----*/
    /* Clearfix */
    .tab-links:after {
        display:block;
        clear:both;
        content:'';
    }
 
    .tab-links li {
        margin:0px 5px;
        float:left;
        list-style:none;
    }
 
        .tab-links a {
            padding:9px 15px;
            display:inline-block;
            border-radius:3px 3px 0px 0px;
            background:#7ccda2;
            font-size:16px;
            font-weight:600;
            color:#4c4c4c;
            color: #ffffff;
            text-decoration: none;  
            font-family: 'Lato';
            transition:all linear 0.15s;
        }
 
        .tab-links a:hover {
            background:#a7cce5;
            text-decoration:none;
        }
 
    li.active a, li.active a:hover {
        background:#fff;
        color:#4c4c4c;
    }
 
    /*----- Content of Tabs -----*/
    .tab-content {
        padding:15px;
        border-radius:3px;
        box-shadow:-1px 1px 1px rgba(0,0,0,0.15);
        background:#fff;
    }
 
        .tab {
            display:none;
        }
 
        .tab.active {
            display:block;
        }

#tabs ul {
padding: 0px;
margin: 0px;
margin-left: 10px;
list-style-type: none;
}

#tabs ul li {
display: inline-block;
clear: none;
float: left;
height: 24px;
}

#tabs ul li a {
position: relative;
margin-top: 16px;
display: block;
margin-left: 6px;
line-height: 24px;
padding-left: 10px;
background: #7ccda2;
z-index: 9999;
border: 1px solid #ccc;
border-bottom: 0px;
-moz-border-radius-topleft: 4px;
border-top-left-radius: 4px;
-moz-border-radius-topright: 4px;
border-top-right-radius: 4px;
width: 130px;
color: #ffffff;
text-decoration: none;  
font-family: 'Lato';
}

#tabs ul li a:hover {
text-decoration: underline;
}

#tabs #Content_Area {
padding: 0 15px;
clear:both;
overflow:hidden;
line-height:19px;
position: relative;
top: 20px;
z-index: 5;
height: 650px;
overflow: hidden;
}
=======
>>>>>>> origin/new-stable
/* stimulus summary */
.stimulus-summary {
    display: inline-block;
}

.sort-icon {
    width: 20px;
}
